
.modal-finCompra{
  position: fixed;
  z-index:1;
  left: 0;
  top:0;
  height: 100%;
  width:100%;
  overflow: auto;
  background-color: #00000080;
}

.modal-contenido{
  background-color:#f4f4f4;
  margin: 20% auto;
  width:30%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
  animation-name:abrirmodal;
  animation-duration:1s;
}

.modal-titulo h2, .modal-pie h3{
  margin:0;
  font-size: 1.3em;
}

.modal-titulo{
  background:rgba(201, 119, 164, .5);
  padding:15px;
  color:#fff;
}

.modal-cuerpo{
  padding:10px 20px;
  text-align: center;
  
}
.modal-cuerpo p{
    font-size: 1.2em;
}
.modal-pie{
  background:rgba(201, 119, 164, .5);;
  padding:10px;
  color:#fff;
  text-align: center;
}

.modal-pie a{
    text-decoration: none;
    color:#fff;
    font-style: italic;
}


@keyframes abrirmodal{
  from{ opacity: 0}
  to {opacity: 1}
}
